.message
  .message__top
    %P.message__top__user-name
      SEO
    %P.message__top__date
      2019/10/05(Sat) 15:47:15
  %P.message__text
    Hello world!
.message
  .message__top
    %P.message__top__user-name
      SEO
    %P.message__top__date
      2019/10/05(Sat) 15:47:15
  %P.message__text
    Hello world!
.message
  .message__top
    %P.message__top__user-name
      SEO
    %P.message__top__date
      2019/10/05(Sat) 15:47:15
  %P.message__text
    Hello world!
.message
  .message__top
    %P.message__top__user-name
      SEO
    %P.message__top__date
      2019/10/05(Sat) 15:47:15
  %P.message__text
    Hello world!