.side-bar__group
  %P.side-bar__group__title
    = current_user.name
  %P.side-bar__group__message
    hello!
.side-bar__group
  %P.side-bar__group__title
    sample
  %P.side-bar__group__message
    hello!