.message
  .message__top
    %P.message__top__user-name
      = message.user.name
    %P.message__top__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__bottom
    - if message.content.present?
        %p.message__bottom__text
          = message.content
    - if message.image.present?
      = image_tag message.image.url, class; 'message__bottom__image'

<div class="message">
  <div class="message__top">
    <p class="message__top__user-name">
      <%= message.user.name %>
    </p>
    <p class="message__top__date">
      <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
    </p>
  </div>
  <div class="message__bottom">
    <% if message.content.present? %>
      <p class="message__bottom__text">
        <%= message.content %>
      </p>
    <% end %>
    <% if message.image.present? %>
      <%= image_tag messgge.image.url, class: 'message__bottom__image' %>
    <% end %>
  </div>
</div>



<div class="message">
  <div class="message__top">
    <p class="message__top__user-name">
      message.user.name
    </p>
    <p class="message__top__date">
        message.created_at
    </p>
  </div>
  <div class="message__bottom">
      <p class="message__bottom__text">
        message.content
      </p>
  </div>
</div>