.header
  %P.header__message
    　グループを作成しました。
.contents
  .side-bar    
    .side-bar__top
      .side-bar__top__box
        %P SEO
        .side-bar__top__box__tool
          %i.fa.fa-edit
          %i.fa.fa-cog
    .side-bar__groups
      =render partial: "group"
  .chat
    .chat__heading
      .chat__heading__left
        %P.chat__heading__left__title
          Sample
        %P.chat__heading__left__member
          Members: seo neko
      .chat__heading__edit-btn
        =link_to 'Edit', "#"
    .chat__messages
      
      =render partial: "chat"
    .form
      %form
        .form__input-box
          %input{type: "text", placeholder: "type a message", class: "form__input-box__text"}
          %label{for: "upload-icon", class: "form__input-box__image"}
            %i.fa.fa-image
            %input{type: "file", class: "form__input-box__image--hidden", id: "upload-icon"}
        %input{type: "submit",
          value: "Send",
          class: "form__btn",}
