<div class='form'>
  <form class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/2215/messages" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="authenticity_token" value="ZgC51EoPzOvAGp1x1usodFeFJmlT1+hJ5PGVWqMSoSw61fQb9yulNjPYfhXDPkz2tqRhgJYRfu/oMb1FzavvfA==" />
    <div class='input-box'>
      <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content" />
      <label class="input-box__image" for="message_image">
        <i class="fa fa-image"></i>
        <input class="input-box__image__file" type="file" name="message[image]" id="message_image" />
      </label>
    </div>
    <input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send" />
  </form>
</div>
